<section
	{{ if section_id }}id="{{ section_id }}" {{ /if }}
	class="
		section {{ if section_reverse }}section--reverse{{ /if }}
		{{ desktop_frame }} {{ mobile_frame }}
		{{ classes }}"
	style="--section-ratio: {{ section_ratio }}"
>

	{{ partial
		src="sections/_section_column"
		order="first"
		direction="{{ section_reverse ? 'right' : 'left' }}"
	}}

	{{ partial
		src="sections/_section_column"
		order="last"
		direction="{{ section_reverse ? 'left' : 'right' }}"
	}}

</section> <!-- END section {{ section_id }} -->
